<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
            {{labelTitulo}}
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                    <label for="InputNombre">Nombre</label>
                    <input type="text" class="form-control" id="InputNombre" [(ngModel)]="cliente.nombre" placeholder="Ingrese Nombre" name="nombre">
                    </div>
                    <div class="form-group">
                    <label for="InputPaterno">Paterno</label>
                    <input type="text" class="form-control" id="InputPaterno" [(ngModel)]="cliente.paterno" placeholder="Paterno" name="paterno">
                    </div>
                    <div class="form-group">
                        <label for="InputMaterno">Materno</label>
                        <input type="text" class="form-control" id="InputMaterno" [(ngModel)]="cliente.materno" placeholder="Materno" name="materno">
                    </div>
                    <select class="form-control form-control-sm" [(ngModel)]="cliente.tipoDocumento" name="tipoDocumento">
                        <option>select tipo de documento</option>
                        <option>Cedula de identidad</option>
                        <option>RUA</option>
                        <option>Pasaporte</option>
                    </select>
                    <div class="form-group">
                        <label for="NumDoc">Numero de Documento</label>
                        <input type="number" class="form-control" id="NumDoc" [(ngModel)]="cliente.numeroDocumento" name="numeroDocumento" placeholder="Numero de documento">
                    </div>
                    <div class="form-group">
                        <label for="InputFechaNacimiento" [(ngModel)]="cliente.fechaNacimiento" name="fechaNacimiento">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="InputFechaNacimiento" placeholder="fechaNacimiento">
                    </div>
                    <select class="form-control form-control-sm" [(ngModel)]="cliente.genero" name="genero">
                        <option>select Genero</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select>
                    <br />
                    <button type="submit" class="btn btn-primary" (click)="add()">Guardar</button>
                </form>      
            </div>
        </div>
    </div>
  </div>
</div>
