<section>
  <h1>Dashboard Vehiculos</h1>

  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-primary btn-agregar" (click)="agregarVehiculo()">Agregar</button>
    <input type="text" id="buscador" class="form-control w-50" placeholder="Buscar..." onkeyup="buscar()">
  </div>

  <table class="table table-striped table-hover">
    <thead class="table-dark">
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Año</th>
      <th>Placa</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vehiculo of vehiculos$ | async">
      <ng-container *ngIf="!vehiculo.deleted">
        <td>{{vehiculo.marca}}</td>
        <td>{{vehiculo.modelo}}</td>
        <td>{{vehiculo.ano}}</td>
        <td>{{vehiculo.placa}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="eliminarVehiculo(vehiculo.id)">Eliminar</button>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</section>

<div #modalContainer></div>
