<h2>Clientes</h2>
<button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/ClienteForm">Adicionar</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Paterno</th>
        <th scope="col">Materno</th>
        <th scope="col">Tipo Doc.</th>
        <th scope="col">Nro Doc.</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Genero</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.nombre}}</th>
        <td>{{cliente.paterno}}</td>
        <td>{{cliente.materno}}</td>
        <td>{{cliente.tipoDocumento}}</td>
        <td>{{cliente.numeroDocumento}}</td>
        <td>{{cliente.fechaNacimiento}}</td>
        <td>{{cliente.genero}}</td>
        <td>
            <button type="button" class="btn btn-info" (click)="goEdit(cliente)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="remove(cliente)">Eliminar</button>
            <button type="button" class="btn btn-secondary" (click)="verAsignados(cliente.vehiculos)"> Ver Asinados</button>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="table table-dark" [hidden]="showAsignados">
    <thead>
      <tr>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
        <th scope="col">placa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
        <th scope="row">{{vehiculo.marca}}</th>
        <td>{{vehiculo.modelo}}</td>
        <td>{{vehiculo.anio}}</td>
        <td>{{vehiculo.placa}}</td>
      </tr>
    </tbody>
  </table>


